.body{
  background-color: #F5F5F5;
}

.Banner{
  width : 100%;
  min-height: 12vh;
  padding-top: 10px;
  
  position: fixed;
}

.Banner img{
  border-radius: 50%;
  float: left;
  margin-left: 5%;
  
  
}

.Banner h1{
  border-radius: 50%;
  float: left;
  padding-left: 1%;
  margin-top:1.5%
}

.navigation{
  margin-left: 25%;
  position: relative;
  
}
.navigation a{
 
  color: #18272F;
  position: relative;
  text-decoration: none;
  font-size: 2em;
  font-weight: 500;
  
}
  
  

.navigation a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navigation a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  
}

.navigation a:hover{
  font-size: 2em;
}

.AboutME{
  min-height: 48vh;
  background-color: #F5F5F5;
  text-align: center;
  padding-top: 20vh;

}

.AboutME h1 {
  margin-bottom: 0;
}

.AboutME p{
  margin-top: -1px;
  margin-left:-50px;
  font-size: 21px
}

.middle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  font-size: 30px;
}

.middle img{
  border-radius: 50%;
  margin-left : 70px
}

.tools{
  min-height: 48vh;
  
  text-align: center;
  padding-top: 20vh;
  border-radius: 30px;
  min-width: 60%;
  margin: 0 auto;
  background: linear-gradient(to right, white, white);
}




section {
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  padding-top: 0; /* Remove the top padding */
}

.projects {
  padding-bottom: 0; /* Remove the bottom padding */
}


.projects .inner{
  background: #1f1f1f;
  color: #fff;
  padding: 70px;
  border-radius: 24px;
}

.projects .inner p.debug{
  font-size: 14px;
  margin-bottom: 12px;
  color: #d8d8d8;
  border: 1px solid #484848;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
}

.projects .inner p.debug i,
.projects .inner > button i{
  font-size: 18px;
}

.projects .inner > h2{
  font-size: 38px;
  margin-bottom: 24px;
}

.projects .inner p.info{
  font-size: 18px;
  color: #dedede;
  margin-bottom: 24px;
}

.projects .inner > button{
  padding: 10px 20px;
  margin-bottom: 40px;
}

.projects .inner .items{
  display: flex;
  gap: 20px;
}

.projects .inner .items .item{
  border: 1px solid #484848;
  border-radius: 16px;
  padding: 32px 24px;
  height: 250px;
  width: 24%;
  background: #262626;
}

.projects .inner .items .item i{
  font-size: 38px;
  border: 1px solid #606060;
  border-radius: 10px;
  padding: 10px;
  background: #303030;
}

.projects .inner .items .item a{
  display: block;
  margin: 24px 0 14px;
  color: #fff;
  font-size: 20px;
}

.projects .inner .items .item p{
  color: #a1a1a1;
  font-size: 16px;
  line-height: 24px;
}



.contact{
  min-height: 48vh;
  background-color: #F5F5F5;
  text-align: center;
  padding-top: 10vh;
}

